@page "/"

<PageTitle>Ponto Eletrônico</PageTitle>

<h1>Olá Recrutador!</h1>
<h3>Sua senha de administrador é 1234</h3>
<p>Esse é meu projeto para folha de ponto eletrônico.</p>
<p>Aqui você poderá cadastrar, promover e deleta um funcionário, ajustar folha de ponto em alguns casos,<br>
e também visualizar a folha de ponto de um funcionário, </p>


