@page "/login"

<PageTitle>Acesso ao Ponto</PageTitle>

<h3>Registro de Ponto</h3>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="numeroRegistro">Número de Registro:</label>
            <input type="text" class="form-control" id="numeroRegistro" placeholder="Insira seu número de registro">
            <br>
            <NavLink class="btn btn-primary" href="/registrar">Login</NavLink>
        </div>
    
      </div>
</form>
