@page "/registrar"

<PageTitle>Registro de Ponto</PageTitle>

<h3>Registro de Ponto</h3>

<form>
            <div class="form-group col-md-2">
            <label for="dataRegistro">Data do Registro:</label>
            <input type="date" class="form-control" id="dataRegistro">
            <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
<br>
    
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="horaEntrada">Hora de Entrada:</label>
            <input type="time" class="form-control" id="horaEntrada">
            <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
<br>
        <div class="form-group col-md-2">
            <label for="horaAlmoco">Hora de Descanso/Almoço:</label>
            <input type="time" class="form-control" id="horaAlmoco">
            <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
<br>
        <div class="form-group col-md-2">
            <label for="horaRetornoAlmoco">Hora de Retorno do Descanso/Almoço:</label>
            <input type="time" class="form-control" id="horaRetornoAlmoco">
            <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    <br>
        <div class="form-group col-md-2">
            <label for="horaSaida">Hora de Saída:</label>
            <input type="time" class="form-control" id="horaSaida">
            <br>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
    </div>

    
</form>

